{% extends "layout.html" %}

{% block content %}

    <h2>{{ header }}</h2>
    <br>

    <form action="." method="post">
        {% csrf_token %}
        <div class="form-group">
            {% for field in form %}
                {{ field.label_tag }}
                <div class="col-md-10">
                    {{ field }}
                </div>
                <br>
            {% endfor %}
        </div>
        <input type="submit" value="Update">
    </form>
{% endblock %}
