{% extends "layout.html" %}

{% block content %}

    <h2>{{ header }}</h2>
    <br>

    {% if actions %}
        <strong>Actions: </strong>
        {% for action in actions %}
            <a href="{{ action.url }}">{{ action.str }}</a>
            {% if not forloop.last %} - {% endif %} {# Separate actions with hyphens #}
        {% endfor %}
    {% endif %}

    {% if query %}
        <p>Search by: <strong>{{ query }}</strong></p>
    {% endif %}

    {% if list %}
        <p>Found {{ list|length }} result{{ list|pluralize }}.</p>
        <ul>
            {% for group in list %}
                <li>
                    {% for element in group %}
                        <a href="{{ element.url }}">{{ element.str }}</a>
                        {% if not forloop.last %} - {% endif %} {# Separate elements in a group with hyphens #}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Not found any result.</p>
    {% endif %}

{% endblock %}
