{% extends "layout.html" %}

{% block content %}

    <h2>{{ header }}</h2>
    <br>

    <strong>Actions: </strong>
    <a href="{% url 'pilots_edit' _id=pilot.id %}">Edit Pilot</a>

    <p><b>Name: </b> {{ pilot.name }}</p>
    <p><b>Birth Date: </b> {{ pilot.date }}</p>
    <p><b>Victories: </b> {{ pilot.victories }}</p>
    <p><b>Pole Positions: </b> {{ pilot.pole_positions }}</p>
    <p><b>Championships: </b> {{ pilot.championships }}</p>
    <p><b>Contract: </b> {{ pilot.contract }}</p>
    <p><b>Entry Year: </b> {{ pilot.entry_year }}</p>
    <p><b>Team: </b> <a href="{% url 'teams_get' _id=pilot.team.id %}">{{ pilot.team.name }}</a></p>
    <p><b>Country(ies): </b>
        {% for c in pilot.country.all %}
            <a href="{% url 'countries_get' _id=c.id %}">{{ c.designation }} ({{ c.code }})</a>
            {% if not forloop.last %}, {% endif %} {# Separate countries with commas #}
        {% endfor %}
    </p>

{% endblock %}
