{% extends "layout.html" %}
{% load static %}

{% block content %}

    <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div>

          <!-- ***** Banner Start ***** -->
          <div class="row">
            <div class="col-lg-12">
              <div class="main-profile ">
                <div class="row">
                  <div class="col-lg-4">
                    <img src="{% static '/images/profile-header.jpg' %}" alt="profile picture" style="border-radius: 23px;">
                  </div>
                  <div class="col-lg-4 align-self-center">
                    <div class="main-info header-text">
                      <h4>{{ user.username }}</h4>
                    </div>
                  </div>
                    <div class="col-lg-4" style="float: right">
                        <a href="{% url 'logout' %}" alt="logout" style="border-radius: 23px;">
                            <button class="btn" style="background: red">Logout</button>
                        </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="clips">
                      <div class="row">
                        <div class="col-lg-12">
                          <div>
                            <h4>Your Favourite Pilots</h4>
                          </div>
                        </div>
                          {% if favourites %}
                              {% for pilot in favourites %}
                                  <a href="{{pilot.url}}">
                                  <div class="col-lg-3 col-sm-6">
                                    <div class="item">
                                    <div class="thumb">
                                      <img src="{% static pilot.image %}" alt="" style="border-radius: 23px;"></div>
                                    <div class="down-content">
                                    <h4>{{ pilot.name }}</h4>
                                    </div>
                                    </div>
                                  </div>
                                  </a>
                              {% endfor %}
                          {% else %}
                                <p>You have no favourites yet.</p>
                            {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Banner End ***** -->
        </div>
      </div>
    </div>
  </div>

{% endblock %}