{% extends "layout.html" %}
{% load static %}

{% block content %}

    <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div>

          <!-- ***** Banner Start ***** -->
          <div class="row">
            <div class="col-lg-12">
              <div class="main-profile ">
                <div class="row">
                  <div class="col-lg-4">
                    <img src="{% static image %}" alt="profile picture" style="border-radius: 23px;">
                  </div>
                  <div class="col-lg-4 align-self-center">
                    <div class="main-info header-text">
                      <h4>{{ user.username }}</h4>
                    </div>
                  </div>
                    <div class="col-lg-4" style="float: right">
                        <a href="{% url 'logout' %}" style="border-radius: 23px;">
                            <button class="btn" style="background: red">Logout</button>
                        </a>
                  </div>
                </div>
                  <div class="col-lg-12">
                    <div class="clips">
                        <div class="col-lg-12">
                          <div>
                            <h4>Your Favourite Pilots</h4>
                          </div>
                        </div>
                    <div class="row">
                          {% if pilots %}
                              {% for pilot in pilots.all %}
                                  <div class="col-lg-4 col-md-6 col-sm-12 center-stuff">
                                  <a href="{% url 'pilots_get' _id=pilot.id %}">
                                    <div class="">
                                    <div class="thumb">
                                      <img src="/static/images/{{ pilot.name }}.png" alt="" style="border-radius: 23px;
                                        width: 206px; height: 206px">
                                    </div>
                                    <h4>{{ pilot.name }}</h4>
                                    </div>
                                  </a>
                                  </div>
                              {% endfor %}
                          {% else %}
                                <p>You have no favourites yet.</p>
                            {% endif %}
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <!-- ***** Banner End ***** -->
        </div>
      </div>
    </div>
  </div>

{% endblock %}