{% extends "layout.html" %}

{% block content %}

    <h2>{{ header }}</h2>
    <br>

    {% if user.is_authenticated and user.username == 'admin' %}
    <p>
        <strong>Actions: </strong>
        <a href="{% url 'teams_edit' _id=team.id %}">Edit Team</a>
    </p>
    {% endif %}

    <img src="{{ image }}" alt="Team Image" width="320" height="180" style="float:right">
    <p><b>Name: </b>{{ team.name }}</p>
    <p><b>Foundation Date: </b>{{ team.date }}</p>
    <p><b>Championships: </b>{{ team.championships }}</p>

{% endblock %}